<footer class="footer bg-dark py-3 mt-auto" data-bs-theme="dark">
    <div class="container text-center">
        <span class="text-muted">&copy;Marketplace josé luis gutiérrez garcía</span>
    </div>
</footer>